/* 
    color theme
    #1fafc9 - dominant
    #F23D90 - accent
    
*/

html, body{
    width: 100%;
    height: 100%;
}

body{
    font: normal normal 400 20px/150% 'Montserrat', sans-serif;
    background: white;
}

p{
    margin: 20px auto;
}

h2{
    font-size: 36px;
    font-weight: bold;
    color: #1fafc9;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.row:first-child{
    margin-bottom: 50px;
}

/* Background color */

.lightgrey-background{
    background-color: #f5f5f5;
}

.tiffanyblue-background{
    background-color: #1fafc92f;
}

/* Navigation Bar */

.navbar-custom{
    font-family: "Josefin Slab", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    background-color: #ececece1;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.06);
}

.navbar-custom .navbar-brand{
    color: #1fafc9;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav .nav-link:hover{
    color: #F23D90;
}

.navbar-custom .navbar-nav .nav-link{
    color: #1fafc9;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.navbar-custom .navbar-toggler{
    border-color: #1fafc9;
}

.navbar-custom .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#1fafc9' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-text{
    color: rgb(165, 165, 165);
}

.navbar-text p{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}

/* Landing Page */

#banner{
    font-family: "Josefin Slab", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("images/background_banner.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    display: flex;
    opacity: 0.6;
}

.header-content{
    margin: 70vh auto;
}

.header-content h1{
    color: #fff;    
    font-size: 60px;
    font-weight: 700;
    border-bottom: 1px solid #fff;
}

.header-subcontent{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:75%;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subcontent p{
    display: inline-block;
    font-size: 40px;
}

.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink{
    to { opacity: .0; }
}

.arrow-box{
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 80px;
    width: 110px;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    display: flex;
}

.animation-box{
    animation: wiggle 1.5s linear infinite;
    margin: auto;
}

@keyframes wiggle {
	0% {
		padding-top: 0px;
	}

	50% {
		padding-top: 15px;
	}

	100% {
		padding-top: 0px;
	}
}

/* Work Experience */

#work{
    position: relative;
}

#work .container::before{
    content: '';
    position: absolute;
    top: 220px;
    bottom: 19%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: rgb(187, 187, 187);
}

#work p{
    margin: 0;
}

.experience-content::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 20px;
    border-color: transparent transparent transparent #fff;
    top: 35px;
    left: 100%;
}

.pull-right .experience-content::before {
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
    border-color: transparent #fff transparent transparent;
  }

.experience-item{
    width: 45%;
}

.experience-content{
    position: relative;
    font-size: 14px;
    background-color: #fff;
    text-align: left;
    padding: 30px 40px;
    box-shadow: 0px 0px 30px #dadada;
}

.experience-content h3{
    color: #F23D90;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.working-period{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3f6e77;
    letter-spacing: 0.5px;
}

.circle-list{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #F23D90;
}

.is-hidden {
    visibility: hidden;
}

.experience-content.transition-in {
    visibility: visible;
    animation: transition 0.8s;
}

.circle-list.bounce-in {
    visibility: visible;
    animation: bounce 0.8s;
}

@keyframes transition {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: scale(0.8) translateX(-50%);
        -webkit-transform: scale(0.8) translateX(-50%);
        -moz-transform: scale(0.8) translateX(-50%);
        -ms-transform: scale(0.8) translateX(-50%);
    }

    60% {
        opacity: 1;
        transform: scale(1) translateX(-50%);
        -webkit-transform: scale(1.2) translateX(-50%);
        -moz-transform: scale(1.2) translateX(-50%);
        -ms-transform: scale(1.2) translateX(-50%);
    }

    100% {
        transform: scale(1) translateX(-50%);
        -webkit-transform: scale(1) translateX(-50%);
        -moz-transform: scale(1) translateX(-50%);
        -ms-transform: scale(1) translateX(-50%);
    }
}

@media (max-width: 768px){
    #work .container::before{
        display: none;
    }
    .experience-item{
        width: 100%;
        margin-bottom: 30px;
    }
    .circle-list{
        display: none;
    }
    .pull-right .experience-content::before, .experience-content::before{
        right: auto;
        left: -20px;
        border-color: transparent #fff transparent transparent;
    }

    .experience-content::before{
        display: none;
    }

    .experience-content.tracing{
        background: #26bad40c;
    }
}

/* Expertise */

.icon-box{
    display: block;
}

.fadein{
    animation: fadein 2s;
}

.icon-box h3{
    font-variant: small-caps;
    font-weight: bold;
}

.icon-box p{
    color: #6e6d6d;
    font-size: 18px;
}

.icon-box i{
    color: #F23D90;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Photography */

#photography .row > div {
    padding: 0 7.5px;
}

#photography h3{
    margin: 10px 0;
    font-size: 14px;
}

.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
}

.box img {
    width: 100%;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.zoom {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 15px;
    display: flex;
}

.zoom i{
    margin: auto;
    color: #fff;
}

.box:hover{
    cursor: pointer;
}

.box:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.box:hover .zoom{
    opacity: 1;
    border-radius: 15px;
}

.modal.carousel {
    position: fixed; 
}

.modal.show .modal-dialog{
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption{
    top: 20px;
    bottom: 0;
}

/* Footer */

.social-icon-list i{
    color: rgb(165, 165, 165);
    text-align: center;
    line-height: 1.6;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}

.social-icon-list i:hover{
    color: #fff;
}


/* Media Query */

@media (max-width: 768px){
    #banner{
        background-attachment: scroll;
    }

    .header-content h1{
        font-size: 56px;
    }

    .header-subcontent p{
        font-size: 32px;
    }

    h2{
        font-size: 28px;
    }

    .navbar-text p, p{
        font-size: 14px;
    }

    .arrow-box{
        right: 1%;
        height: 40px;
        width: 55px;
    }

    .arrow-box .fa-2x {
        font-size: 1em; 
    }
    
}

@media (max-width: 576px){
    section {
        padding-bottom: 20px;
    }

    .row:first-child{
        margin-bottom: 20px;
    }

    .header-content h1{
        font-size: 40px;
    }

    .header-content{
        margin: 60vh auto;
    }
    
}

